body{   
  margin: 0;
}

.header{
  display:flex;
  background-color:lightyellow;
  width:100%;
  height:7rem;
  
}
.fotohotel{
  margin-top:0.5rem;
  margin-bottom:0.5rem;
  margin-left: 2rem;
  height: 6rem;
}
.menu{
  position: relative;
  left: 55%;                
  gap: 10rem;
  display: flex;
  margin-top: 2rem;
  font-size:2.5rem;
}

footer{
  display:flex;
   flex-direction: column;
  background-color:lightyellow;
  bottom:0;
  width:100%;
  height: 9vw;
}
.Textofooter{
             
  display: flex;
  margin-top: 2rem;
  margin-left:4rem;
  font-size:1.5rem;
}
.menu2{     
  gap: 0.5rem;
  display: flex;
  margin-top: 2rem;
  font-size:1.5rem;
}
.textofooter2{
 color: black;
 text-decoration: underline;
  text-decoration-color: white;
  text-decoration-style: dotted;
}
.textofooter3{
 margin-left:4rem;
}
.iconos{
margin-top:-0.7rem;
color: black;
height:1rem;
}
.iconos2{
margin-top:-2rem;
color: black;
height:5rem;
}
.bodyprecio {
  min-height: 73.1vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.titulo1 a:link{
  color:lightblue;
  text-decoration: none;
}
.titulo1 a:hover{
  color:black;
  text-decoration:underline;
  cursor:pointer;
}
.titulo1 a:visited{
  color: lightblue;  
}
.titulo2 a:link{
  color:lightblue;
  text-decoration: none;
}
.titulo2 a:hover{
  color:black;
  text-decoration:underline;
  cursor:pointer;
}
.titulo2 a:visited{
  color: lightblue;  
}
.titulo3 a:link{
  color:lightblue;
  text-decoration: none;
}
.titulo3 a:hover{
  color:black;
  text-decoration:underline;
  cursor:pointer;
}
.titulo3 a:visited{
  color: lightblue;  
}
.barcelona{
height: 10rem;
}
.fotosbar{
height: 10rem;

}


.mosaico {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 10px;
  width: 100%;                 
  max-width: 1100px;           
  margin: 0 auto;           
  padding: 20px;
  cursor: pointer;
}

.item img:hover {
  transform: scale(1.03);
  transition: transform 0.3s;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;           
  border-radius: 8px;
}


.item-1 {
  grid-column: span 3;
  grid-row: span 3;
  background: #ffb3b3;
}

.item-2 {
  grid-row: span 2;
  background: #b3e0ff;
}

.item-3 {
  background: #b3ffb3;
}

.item-4 {
  grid-column: span 2;
  background: #ffd9b3;
}

.item-5 {
  background: #e3b3ff;
}

.item-6 {
  grid-row: span 2;
  background: #ffffb3;
}
.item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* recorta la imagen para que llene el bloque */
  border-radius: 8px;
}

.titulo-ciudad {
  text-align: center;
  margin: 2rem auto;
  max-width: 900px;
  padding: 0 1rem;
}

.titulo-ciudad h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.titulo-ciudad p {
  font-size: 1.2rem;
  color: #444;
  line-height: 1.6rem;
}
.linea {
  width: 100%;
  height: 3px;
  background-color: lightblue;
}

#overlay-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  display: none;           
  justify-content: center;
  align-items: center;
  z-index: 9999;           
}

  
#overlay-img img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
  cursor: pointer;
  transition: transform 0.3s;
}


#overlay-img img:hover {
  transform: scale(1.03);
}
#seccio {
  padding: 20px;
  background-color: lightyellow;
  color: black;
  width: 60%;
  margin: 20px auto;
  border-radius: 10px;
  transition: 0.3s;
}
#reloj {
  width: fit-content;
  margin: 10px auto;
  padding: 10px 25px;
  background: linear-gradient(135deg, #4A90E2, #50E3C2);
  color: white;
  font-size: 2rem;
  font-family: 'Courier New', monospace;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  position: fixed;
  top: 10px;
  left: 90%;
  transform: translateX(-50%);
  z-index: 9999;
}

.formulari {
    background: white;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 0 12px #0003;
    width: 320px;
    margin-bottom:3rem; 
}

.formulari h2 {
    text-align: center;
    margin-bottom: 20px;
}

.formulari label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
}

.formulari input {
    width: 100%;
    padding: 9px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #bbb;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #004d99;
}

.mosaico3 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto;
    gap: 10px;
    max-width: 700px;
    margin: 20px auto;
    
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor:pointer;
}
.foto img:hover {
  transform: scale(1.03);
  transition: transform 0.3s;
}


.f3 {
    grid-column: span 2;
  
}

.contenedor-general {
    display: flex; 
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 40px;
    padding: 20px;
}

.mosaicop {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 10px;
  width: 100%;                 
  max-width: 1100px;           
  margin: 0 auto;           
  padding: 20px;
  cursor: pointer;
}

.contenedor-general2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}

.fotos-verticales {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1700px; 
}


.foto-alargada {
    width: 100%;
    height: 260px; 
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
}

.foto-alargada:hover {
    transform: scale(1.03);
}

